.container-fluid ul{margin-left: 1150px;}
.background{background-color: rgb(0, 0, 0);
height: 100%;
color: white;
padding: 40px;}

h1,h2,h3,p,li,td{color: white;}

h1,h2,h3{padding: 15px;
padding-top: 40px;
padding-bottom: 40px;
}

h1,h2,h3{animation: ani;
    animation-duration: 2s;
}

@keyframes ani{0%   {color:rgb(255, 255, 255); left:0px; top:0px;}
25%  {color:rgba(255, 255, 255, 0.164); left:200px; top:0px;}}

h1{text-transform: capitalize;}

td,.certification li{font-size: 20px;color: rgba(245, 245, 245, 0.438 );}
.certification li:hover,td:hover{color: rgba(255, 255, 255, 0.555);}

.container1{padding-bottom:30px ; padding-top: 30px; text-align: center; background-color: rgb(99, 99, 99);}

.container2{padding-left: 50px;padding-bottom:30px; background-color: rgb(73, 64, 82);}


table{column-width: 100px;margin-left: 150px;}

td{border:1px solid rgba(250, 128, 128, 0.404);
    border-color: rgba(247, 247, 247, 0.178);
    background-color: rgba(255, 255, 255, 0.040);
    column-width: 400px;align-items: center;
    padding-left: 50px;
    padding:30px;}

.certification li{margin-left: 150px;}